/* header */
#head {
  margin: auto;
  width: 100%;
  height: 100px;
  background-image: url("./img/pattern.png");
  background-color: #4ea0ff;
  background-size: 400px;
}

.container {
  margin: auto;
  width: 80%;
  height: 100px;
}

.container img {
  width: 180px;
  margin-top: 45px;
}

main {
  margin: auto;
  width: 80%;
  padding: 20px 0;
}

/* Titles */
#title {
  font-size: 35px;
}

.subtitle {
  color: #838383;
}

.subtitle span {
  color: #44b7e9;
}

#date {
  font-size: 11px;
}

/* imgs + desc */
.tim {
  margin-top: 20px;
}

.description {
  font-size: 12px;
}

/* Text1 */
p span {
  background-color: yellow;
}

ul {
  padding: 15px;
}

/* tab + text */
#data {
  border-collapse: collapse;
  width: 100%;
}

#data td,
#data th {
  padding-left: 0;
  width: 25%;
}

#data .larger-tile {
  width: 50%;
}

#data tr:nth-child(even) {
  background-color: #b1e5f2;
}

#data th {
  text-align: left;
  background-color: #20a9e5;
  color: white;
}

/* footer */
footer {
  margin: auto;
  width: 80%;
}

.foot-title {
  color: #707070;
}

.articles {
  width: 200px;
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  color: white;
}

#art-1 {
  background-image: url("./img/monitor.jpg");
  background-size: cover;
}

#art-2 {
  background-image: url("./img/graph.jpg");
  background-size: cover;
  margin-bottom: 30px;
}
