#head {
  margin: auto;
  width: 100%;
  height: 100px;
  background-image: url("./img/pattern.png");
  background-color: #6495ed;
  background-size: 400px;
}

.container {
  margin: auto;
  width: 80%;
  height: 100px;
}

.container img {
  width: 180px;
  margin-top: 45px;
}

main {
  margin: auto;
  width: 80%;
  padding: 20px 0;
}

#title {
  font-size: 35px;
}

.subtitle {
  color: grey;
}

.subtitle span {
  color: #01ade4;
}

#date {
  font-size: 11px;
}

.tim {
  margin-top: 20px;
}

.description {
  font-size: 12px;
}

p span {
  background-color: yellow;
}

ul {
  padding: 15px;
}
